<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.security.xjsystem.mapper.RoleMapper">

    <resultMap id="RoleResultMap" type="com.github.wxiaoqi.security.xjsystem.entity.Role">
    </resultMap>

    <select id="getRoleNameByidTop" resultType="java.lang.String">
        select r_name_china FROM system_role
        where id IN
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY sort DESC limit 1
    </select>

    <select id="getRoleByRname" resultMap="RoleResultMap">
        select * FROM system_role
        where r_name = #{r_name}
    </select>

</mapper>