<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.security.hrsystem.mapper.RyQuerySuitesMapper">
  <resultMap id="RyQuerySuitesVoResultMap" type="com.github.wxiaoqi.security.hrsystem.vo.RyQuerySuitesVo">
  </resultMap>
  
  <select id="getRyQuerySuitesBystrDetail" resultMap="RyQuerySuitesVoResultMap">
      select top 5
      SuiteId "suite_id",
      Caption,
      ModuleName "module_name",
      ryQuerySuites.ModuleId "module_id"
      from ryQuerySuites
      inner join WebModuleInfo on ryQuerySuites.ModuleId=WebModuleInfo.ModuleId
      where SuiteId in
      <foreach item="item" index="index" collection="strDetail" open="(" separator="," close=")">
          #{item}
      </foreach>  </select>

</mapper>