<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.security.xjsystem.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.github.wxiaoqi.security.xjsystem.entity.User">
    </resultMap>
  
  <select id="selectOneForVo" resultMap="UserResultMap">
     select
      *
     from SYSTEM_USER u
     where u.id = #{id} and u.delete_status='1'
  </select>

    <select id="selectUserByLogin" resultMap="UserResultMap">
        select
        *
        from SYSTEM_USER u
        where u.l_name = #{loginUsername} and u.delete_status='1'
    </select>

    <select id="selectPromoter" resultMap="UserResultMap">
        select
        *
        from SYSTEM_USER u
        where
        u.user_code &lt;&gt; 999 and u.id &lt;&gt; #{selfid} and u.delete_status='1' and u.user_code=#{user_code}
        <if test=" keyword != null and keyword != '' ">
           and  (u.u_name like '%${keyword}%' or u.l_name like '%${keyword}%')
        </if>
        limit #{currentPage},#{PageSize}
    </select>

    <select id="selectPromoterTotal" resultType="java.lang.Integer">
        select
        count(*)
        from SYSTEM_USER u
        where
        u.user_code &lt;&gt; 999 and u.id &lt;&gt; #{selfid} and u.delete_status='1' and u.user_code=#{user_code}
        <if test=" keyword != null and keyword != '' ">
            and  (u.u_name like '%${keyword}%' or u.l_name like '%${keyword}%')
        </if>
    </select>

</mapper>