<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.security.xjsystem.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.github.wxiaoqi.security.xjsystem.entity.User">
    </resultMap>
  
  <select id="selectOneForVo" resultMap="UserInfoVoResultMap">
     select
      *
     from SYSTEM_USER u
     where u.id = #{id}
  </select>

    <select id="selectUserByLogin" resultMap="UserResultMap">
        select
        *
        from SYSTEM_USER u
        where u.l_name = #{loginUsername}
    </select>

</mapper>