<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.security.hrsystem.mapper.WebActorAssignMapper">
  <resultMap id="WebActorAssignResultMap" type="com.github.wxiaoqi.security.hrsystem.entity.WebActorAssign">
  </resultMap>

  <select id="selectAcordidByA0188" resultType="java.lang.Integer">
    select ActorID "actorid" from WebActorAssign where A0188=#{A0188} and (ValidLife > getdate() or ValidLife is null)
  </select>

</mapper>